---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout title="My Profile Website">
	
		<main class="flex w-full h-full p-5 justify-center align-middle m-auto">
			<div class="container px-5 py-auto main" >

				<div class="mb-12 mt-10">
					<h1 class="text-5xl font-black text-center">Welcome To My Profile</h1>
				</div>
				<div class="flex justify-center align-middle mt-12">
					<img src="https://www.svgrepo.com/show/402892/waving-hand-medium-skin-tone.svg" alt="" class="max-h-56 shake">
				</div>
				<div class="justify-center align-middle mt-10 grid grid-cols-1 gap-4 mb-5">
					<a href="./page1" class="flex justify-center align-middle mt-10 button-2 rounded-3xl">
						<button>
							<img src="https://www.svgrepo.com/show/469643/right-arrow.svg" alt="" class="max-h-20">
						</button>
					</a>
				</div>


			</div>
		</main>
	<style>
		.main {
			background-color: var(--light);
			border: var(--dark) 0.3rem solid;
			border-radius: 2rem;
			max-width: 1000px;


			opacity: 90%;
		}

		.button-1{
			background-color: var(--red);
		}

		.button-2{
			background-color: var(--blue);
		}

		.shake {
  			animation: jump-shaking 2s infinite;
		}

		@keyframes jump-shaking {
			0% { transform: translateX(0) }
			25% { transform: translateY(-9px) }
			35% { transform: translateY(-9px) rotate(17deg) }
			55% { transform: translateY(-9px) rotate(-17deg) }
			65% { transform: translateY(-9px) rotate(17deg) }
			75% { transform: translateY(-9px) rotate(-17deg) }
			100% { transform: translateY(0) rotate(0) }
		}
	</style>
		
</Layout>

