---
interface Props {
	title: "My Profile Website";
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<!-- Sidebar -->

	<body>
		<slot />
	</body>

</html>


<style is:global>
		/*
	1. Use a more-intuitive box-sizing model.
	*/
	*, *::before, *::after {
	box-sizing: border-box;
	}
	/*
	2. Remove default margin
	*/
	* {
	margin: 0;
	}
	/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
	*/
	body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	}
	/*
	5. Improve media defaults
	*/
	img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	}
	/*
	6. Remove built-in form typography styles
	*/
	input, button, textarea, select {
	font: inherit;
	}
	/*
	7. Avoid text overflows
	*/
	p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	}
	/*
	8. Create a root stacking context
	*/
	#root, #__next {
	isolation: isolate;
	}

	:root {
		--red: #ef476f;
		--yellow: #ffd166;
		--green: #06d6a0;
		--blue: #118ab2;
		--dark: #073b4c;
		--light: #e7e3d2;
	}
	
	html {
		height: 100%;
		font-family: 'Quicksand', sans-serif;
		background: linear-gradient(50deg,#ffd166, #06d6a0, #118ab2);
	    background-size: 500% 500%;
	    -webkit-animation: bg-animation 23s ease infinite;
	    -moz-animation: bg-animation 23s ease infinite;
	    animation: bg-animation 23s ease infinite;
	}

	@-webkit-keyframes bg-animation {
	    0%{background-position:0% 99%}
	    50%{background-position:100% 2%}
	    100%{background-position:0% 99%}
	}
	@-moz-keyframes bg-animation {
	    0%{background-position:0% 99%}
	    50%{background-position:100% 2%}
	    100%{background-position:0% 99%}
	}
	@keyframes bg-animation {
	    0%{background-position:0% 99%}
	    50%{background-position:100% 2%}
	    100%{background-position:0% 99%}
	}

	.green{
		background-color: var(--green);
	}

	.red{
		background-color: var(--red);
	}

	.yellow{
		background-color: var(--yellow);
	}

	.blue{
		background-color: var(--blue);
	}

</style>

